<div class="container">
    <div class="text">Memory card</div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Memoria total</h4>
                    <h6 class="card-subtitle text-muted">MegaBytes</h6>
                    <p class="card-text p-y-1">{{this.memo.MemTotal}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Memoria Libre</h4>
                    <h6 class="card-subtitle text-muted">MegaBytes</h6>
                    <p class="card-text p-y-1">{{this.memo.MemFree}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Porcentaje de memoria utilizada</h4>
                    <h6 class="card-subtitle text-muted">MegaBytes</h6>
                    <p class="card-text p-y-1">{{this.memo.MemPercent}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="display: block;" class="chart">
              <canvas baseChart width="40" height="20"
                [datasets]="labelMFL"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
    </div>

</div>